[Unit]
Description=OnionBalance
After=network.target nss-lookup.target

[Service]
Slice=machine.slice
ExecStart=/usr/bin/rkt run \
    --volume=localtime,kind=host,source=/etc/localtime \
    --volume=config,kind=host,source={{ onionbalance_config_dir }}/ \
    --volume=torrc,kind=host,source={{ onionbalance_config_dir }}/torrc \
    --volume=data,kind=host,source={{ onionbalance_data_dir }} \
    --dns=8.8.8.8 --dns=8.8.4.4 \
    rkt.mrgnr.io/tor \
    rkt.mrgnr.io/onionbalance
KillMode=mixed
Restart=always
RestartSec=5
NoNewPrivileges=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
